.btop {z-index:1000000;position:fixed;left:0;bottom:70px;width:34%;margin-left:50%;opacity: 0.5;filter:alpha(opacity=50);}
.btop:hover {opacity:1;filter:alpha(opacity=100);cursor:pointer;}
.btop-but {z-index:1000000;position:absolute;display:block;bottom:0;margin:0 0 0 100%;padding:25px 12px 5px;
color:white;background:#AA1100 url(btop.png) no-repeat 50% 11px;border-radius:7px;white-space: nowrap;}
